<ion-view class="background-1" view-title="ค้นหาหนังสือ">
  <ion-content>
    <div class="row">
      <div class="col col-search">
        <div class="">
          <label class="item item-input">
            <input type="text" placeholder="วันที่" ng-model="data.edoc_date">
          </label>
        </div>
		<div class="">
          <label class="item item-input">
            <input type="text" placeholder="เรื่อง" ng-model="data.edoc_title">
          </label>
        </div>
		<div class="">
          <label class="item item-input">
            <input type="text" placeholder="เลขที่หนังสือ" ng-model="data.rec_id">
          </label>
        </div>
      </div>
    </div>
    <div class="list list-transparent" ng-if="!message && data_type == 'send'">
      <a class="item" ng-repeat="item in listBooks track by $index" href="#/app/book/send/{{item.edoc_id}}">
        <h2 ng-bind-html="item.edoc_code_full"></h2>
        <p ng-bind-html="'ชั้นความเร็ว: ' + item.speed_label"></p>
        <p ng-bind-html="'วันที่: ' + (item.edoc_date|dateThai)"></p>
        <p ng-bind-html="'เรื่อง: ' + item.edoc_title"></p>
      </a>
    </div>
    <div class="list list-transparent" ng-if="!message && data_type == 'recieve'">
      <a class="item" ng-repeat="item in listBooks track by $index" href="#/app/book/recieve/{{item.rec_id}}">
        <h2 ng-bind-html="'เลขทะเบียนรับ: ' + item.rec_id"></h2>
        <p ng-bind-html="'ที่: ' + item.edoc_code_full"></p>
        <p ng-bind-html="'ชั้นความเร็ว: ' + item.speed_label"></p>
        <p ng-bind-html="'วันที่: ' + (item.edoc_date|dateThai)"></p>
        <p ng-bind-html="'เรื่อง: ' + item.edoc_title"></p>
      </a>
    </div>
    <div class="list list-transparent" ng-if="message">
      <div class="item text-center" ng-bind-html="message"></div>
    </div>
  </ion-content>
</ion-view>
